<main class='flex flex-col min-h-screen justify-center items-center'>
  <h1 class='text-5xl font-bold text-pink-500 pb-2'>{{title}}</h1>
  <p class='text-xs uppercase tracking-widest text-slate-600'>{{content}}</p>
</main>